<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.changetech.ushop">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ushop">
        <activity android:name=".admin.AdminPanelActivity"/>
        <activity android:name=".activity.MenuActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ProductDetailsActivity" />
        <activity android:name=".activity.CartActivity" />
        <activity android:name=".activity.EmptyCartActivity" />
        <activity android:name=".activity.CompletedOrderActivity" />
        <activity android:name=".activity.CheckoutActivity" />
        <activity android:name=".activity.UshopSearchActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.EditProfileActivity" />
        <activity android:name=".activity.IntroScreenActivity" />
        <activity android:name=".activity.auth.SignUpActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activity.auth.SignInActivity" android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>